.title{
    font-size: 35px;
    color: white;
}
.question{
  font-size: 20px;
}
.button{
    background-color:white;
    border: 0.1px solid gray;
    border-radius: 17px;
    padding: 1rem;
    margin: 0.5rem;
    width: 300px;
}
.options {
  display: flex;
  flex-direction: column; 
  align-items: center;    
}
.nextbutton{
  background-color: rgb(34, 102, 250);
  color: white;
  border-radius: 17px;
  padding: 1rem;
  margin: 1rem;
  width: 300px;
}
.bold{
  font-weight: bold;
}
.back{
  background-color:rgb(34, 102, 250);
  border-top-right-radius: 13px;
  border-top-left-radius: 13px;
}
.space{
  text-align:right;
  color: white;
}
.containar{
  max-width: 420px;
  margin: 40px auto;
  background: white;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}
.button:hover{
  background-color: green;
  color: white;
}