.title{
    font-size: 35px;
}
.question{
  font-size: 20px;
}
.button{
    background-color:white;
    border: 2px solid gray;
    border-radius: 17px;
    padding: 1rem;
    margin: 0.5rem;
    width: 300px;
}
.options {
  display: flex;
  flex-direction: column; 
  align-items: center;    
}
.nextbutton{
  background-color: rgb(0, 174, 255);
  border-radius: 17px;
  padding: 1rem;
  margin: 1rem;
}
.bold{
  font-weight: bold;
}
.back{
  background-color: rgb(0, 174, 255);
  border-radius: 10px;
}
.space{
  text-align: right;
}