.title{
    font-size: 35px;
}
.question{
  font-size: 20px;
}
.button{
    background-color: rgba(0, 255, 251, 0.772);
    border-radius: 17px;
    padding: 1rem;
    margin: 1rem;
}
.nextbutton{
  background-color: rgba(55, 166, 180, 0.703);
  border-radius: 17px;
  padding: 1rem;
  margin: 1rem;
}
.bold{
  font-weight: bold;
}